.App {
    text-align: center;
}

.Header-main {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0 20px;
}
.Header-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.Header-logo {
    width: 7vh;
    height: 7vh;
    background-color: white;
}
.Header-content a {
    color: white;
    text-decoration: none;
}

.App-link {
    color: #61dafb;
    text-decoration: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
